.c-1 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 388px;
  left: 194px;
  background-position: -194px -388px;
  width: 275px;
  height: 36px;}

.c-3 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 445px;
  left: 197px;
  background-position: -197px -445px;
  width: 655px;
  height: 66px;}

.c-4 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 510px;
  left: 197px;
  background-position: -197px -510px;
  width: 971px;
  height: 65px;}

.c-5 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 445px;
  left: 851px;
  background-position: -851px -445px;
  width: 317px;
  height: 66px;}

.c-6 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 445px;
  left: 1167px;
  background-position: -1167px -445px;
  width: 196px;
  height: 130px;}

.c-7 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 445px;
  left: 1362px;
  background-position: -1362px -445px;
  width: 203px;
  height: 130px;}

.c-8 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 664px;
  left: 199px;
  background-position: -199px -664px;
  width: 444px;
  height: 66px;}

.c-9 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 664px;
  left: 642px;
  background-position: -642px -664px;
  width: 445px;
  height: 66px;}

.c-10 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 664px;
  left: 1086px;
  background-position: -1086px -664px;
  width: 481px;
  height: 66px;}

.c-11 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 729px;
  left: 199px;
  background-position: -199px -729px;
  width: 444px;
  height: 65px;}

.c-12 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 729px;
  left: 642px;
  background-position: -642px -729px;
  width: 445px;
  height: 65px;}

.c-13 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 729px;
  left: 1086px;
  background-position: -1086px -729px;
  width: 481px;
  height: 65px;}

.c-14 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 848px;
  left: 268px;
  background-position: -268px -848px;
  width: 1215px;
  height: 220px;}

.c-15 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1068px;
  left: 269px;
  background-position: -269px -1068px;
  width: 1213px;
  height: 206px;}

.c-16 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1287px;
  left: 272px;
  background-position: -272px -1287px;
  width: 248px;
  height: 20px;}

.c-17 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1316px;
  left: 265px;
  background-position: -265px -1316px;
  width: 248px;
  height: 61px;}

.c-18 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1316px;
  left: 512px;
  background-position: -512px -1316px;
  width: 248px;
  height: 61px;}

.c-19 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1316px;
  left: 759px;
  background-position: -759px -1316px;
  width: 247px;
  height: 61px;}

.c-20 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1316px;
  left: 1005px;
  background-position: -1005px -1316px;
  width: 63px;
  height: 61px;}

.c-21 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1517px;
  left: 306px;
  background-position: -306px -1517px;
  width: 1139px;
  height: 91px;}

.c-22 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1614px;
  left: 306px;
  background-position: -306px -1614px;
  width: 1139px;
  height: 91px;}

.c-23 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1706px;
  left: 306px;
  background-position: -306px -1706px;
  width: 1139px;
  height: 78px;}

.c-24 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2469px;
  left: 306px;
  background-position: -306px -2469px;
  width: 1139px;
  height: 91px;}

.c-25 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2567px;
  left: 306px;
  background-position: -306px -2567px;
  width: 1139px;
  height: 91px;}

.c-26 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2664px;
  left: 306px;
  background-position: -306px -2664px;
  width: 1139px;
  height: 91px;}

.c-27 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2761px;
  left: 306px;
  background-position: -306px -2761px;
  width: 1139px;
  height: 91px;}

.c-28 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2859px;
  left: 306px;
  background-position: -306px -2859px;
  width: 1139px;
  height: 91px;}

.c-29 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2957px;
  left: 306px;
  background-position: -306px -2957px;
  width: 1139px;
  height: 96px;}

.c-30 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3054px;
  left: 306px;
  background-position: -306px -3054px;
  width: 1139px;
  height: 91px;}

.c-31 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3151px;
  left: 306px;
  background-position: -306px -3151px;
  width: 1139px;
  height: 91px;}

.c-32 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1784px;
  left: 331px;
  background-position: -331px -1784px;
  width: 543px;
  height: 74px;}

.c-33 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1857px;
  left: 331px;
  background-position: -331px -1857px;
  width: 543px;
  height: 75px;}

.c-34 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1931px;
  left: 331px;
  background-position: -331px -1931px;
  width: 543px;
  height: 68px;}

.c-35 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1998px;
  left: 331px;
  background-position: -331px -1998px;
  width: 543px;
  height: 71px;}

.c-36 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2068px;
  left: 331px;
  background-position: -331px -2068px;
  width: 543px;
  height: 71px;}

.c-37 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2138px;
  left: 331px;
  background-position: -331px -2138px;
  width: 543px;
  height: 72px;}

.c-38 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2209px;
  left: 331px;
  background-position: -331px -2209px;
  width: 543px;
  height: 74px;}

.c-39 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2282px;
  left: 331px;
  background-position: -331px -2282px;
  width: 543px;
  height: 79px;}

.c-40 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1784px;
  left: 873px;
  background-position: -873px -1784px;
  width: 539px;
  height: 103px;}

.c-41 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1887px;
  left: 873px;
  background-position: -873px -1887px;
  width: 539px;
  height: 71px;}

.c-42 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1957px;
  left: 873px;
  background-position: -873px -1957px;
  width: 539px;
  height: 74px;}

.c-43 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2030px;
  left: 873px;
  background-position: -873px -2030px;
  width: 539px;
  height: 74px;}

.c-44 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2132px;
  left: 901px;
  background-position: -901px -2132px;
  width: 112px;
  height: 20px;}

.c-45 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2172px;
  left: 901px;
  background-position: -901px -2172px;
  width: 188px;
  height: 20px;}

.c-46 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2103px;
  left: 1146px;
  background-position: -1146px -2103px;
  width: 266px;
  height: 59px;}

.c-47 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2161px;
  left: 1146px;
  background-position: -1146px -2161px;
  width: 134px;
  height: 63px;}

.c-48 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2161px;
  left: 1279px;
  background-position: -1279px -2161px;
  width: 133px;
  height: 63px;}

.c-49 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2223px;
  left: 1146px;
  background-position: -1146px -2223px;
  width: 134px;
  height: 61px;}

.c-50 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2223px;
  left: 1279px;
  background-position: -1279px -2223px;
  width: 133px;
  height: 61px;}

.c-51 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2283px;
  left: 873px;
  background-position: -873px -2283px;
  width: 545px;
  height: 78px;}

.c-52 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3284px;
  left: 862px;
  background-position: -862px -3284px;
  width: 36px;
  height: 36px;}

.c-53 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3358px;
  left: 265px;
  background-position: -265px -3358px;
  width: 159px;
  height: 147px;}

.c-54 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3411px;
  left: 510px;
  background-position: -510px -3411px;
  width: 41px;
  height: 41px;}

.c-55 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3413px;
  left: 588px;
  background-position: -588px -3413px;
  width: 36px;
  height: 37px;}

.c-56 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3386px;
  left: 731px;
  background-position: -731px -3386px;
  width: 30px;
  height: 30px;}

.c-57 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3455px;
  left: 736px;
  background-position: -736px -3455px;
  width: 28px;
  height: 29px;}

.c-58 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3358px;
  left: 705px;
  background-position: -705px -3358px;
  width: 443px;
  height: 75px;}

.c-59 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3430px;
  left: 704px;
  background-position: -704px -3430px;
  width: 444px;
  height: 75px;}

.c-60 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3451px;
  left: 1174px;
  background-position: -1174px -3451px;
  width: 42px;
  height: 33px;}

.c-61 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3358px;
  left: 1144px;
  background-position: -1144px -3358px;
  width: 339px;
  height: 76px;}

.c-62 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3430px;
  left: 1146px;
  background-position: -1146px -3430px;
  width: 335px;
  height: 75px;}

.c-63 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3358px;
  left: 422px;
  background-position: -422px -3358px;
  width: 284px;
  height: 147px;}

.c-64 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3552px;
  left: 213px;
  background-position: -213px -3552px;
  width: 159px;
  height: 36px;}

.c-65 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3662px;
  left: 246px;
  background-position: -246px -3662px;
  width: 36px;
  height: 35px;}

.c-66 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3615px;
  left: 197px;
  background-position: -197px -3615px;
  width: 226px;
  height: 130px;}

.c-67 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3662px;
  left: 476px;
  background-position: -476px -3662px;
  width: 35px;
  height: 35px;}

.c-68 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3615px;
  left: 422px;
  background-position: -422px -3615px;
  width: 301px;
  height: 130px;}

.c-69 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3615px;
  left: 722px;
  background-position: -722px -3615px;
  width: 446px;
  height: 66px;}

.c-70 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3680px;
  left: 722px;
  background-position: -722px -3680px;
  width: 446px;
  height: 65px;}

.c-71 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3642px;
  left: 1209px;
  background-position: -1209px -3642px;
  width: 38px;
  height: 38px;}

.c-72 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3615px;
  left: 1167px;
  background-position: -1167px -3615px;
  width: 131px;
  height: 130px;}

.c-73 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3645px;
  left: 1344px;
  background-position: -1344px -3645px;
  width: 36px;
  height: 36px;}

.c-74 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3615px;
  left: 1297px;
  background-position: -1297px -3615px;
  width: 131px;
  height: 130px;}

.c-75 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3644px;
  left: 1475px;
  background-position: -1475px -3644px;
  width: 35px;
  height: 37px;}

.c-76 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3615px;
  left: 1427px;
  background-position: -1427px -3615px;
  width: 138px;
  height: 130px;}

.c-77 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2397px;
  left: 354px;
  background-position: -354px -2397px;
  width: 200px;
  height: 32px;}

.c-78 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2396px;
  left: 1139px;
  background-position: -1139px -2396px;
  width: 259px;
  height: 29px;}

.c-79 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1543px;
  left: 383px;
  background-position: -383px -1543px;
  width: 49px;
  height: 42px;}

.c-80 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1640px;
  left: 386px;
  background-position: -386px -1640px;
  width: 45px;
  height: 37px;}

.c-81 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1730px;
  left: 364px;
  background-position: -364px -1730px;
  width: 55px;
  height: 32px;}

.c-82 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1730px;
  left: 914px;
  background-position: -914px -1730px;
  width: 34px;
  height: 34px;}

.c-83 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1730px;
  left: 965px;
  background-position: -965px -1730px;
  width: 33px;
  height: 34px;}

.c-84 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1732px;
  left: 1015px;
  background-position: -1015px -1732px;
  width: 35px;
  height: 32px;}

.c-85 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1729px;
  left: 1068px;
  background-position: -1068px -1729px;
  width: 32px;
  height: 35px;}

.c-86 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1730px;
  left: 1238px;
  background-position: -1238px -1730px;
  width: 31px;
  height: 35px;}

.c-87 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1727px;
  left: 1281px;
  background-position: -1281px -1727px;
  width: 29px;
  height: 38px;}

.c-88 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1728px;
  left: 1317px;
  background-position: -1317px -1728px;
  width: 34px;
  height: 38px;}

.c-89 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2501px;
  left: 935px;
  background-position: -935px -2501px;
  width: 40px;
  height: 32px;}

.c-90 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2504px;
  left: 980px;
  background-position: -980px -2504px;
  width: 33px;
  height: 29px;}

.c-91 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2504px;
  left: 1018px;
  background-position: -1018px -2504px;
  width: 27px;
  height: 27px;}

.c-92 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2506px;
  left: 1054px;
  background-position: -1054px -2506px;
  width: 25px;
  height: 25px;}

.c-93 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2506px;
  left: 1085px;
  background-position: -1085px -2506px;
  width: 29px;
  height: 19px;}

.c-94 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2500px;
  left: 386px;
  background-position: -386px -2500px;
  width: 44px;
  height: 37px;}

.c-95 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2595px;
  left: 385px;
  background-position: -385px -2595px;
  width: 45px;
  height: 33px;}

.c-96 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2695px;
  left: 392px;
  background-position: -392px -2695px;
  width: 27px;
  height: 42px;}

.c-97 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2796px;
  left: 384px;
  background-position: -384px -2796px;
  width: 49px;
  height: 22px;}

.c-98 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2894px;
  left: 391px;
  background-position: -391px -2894px;
  width: 33px;
  height: 30px;}

.c-99 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2983px;
  left: 385px;
  background-position: -385px -2983px;
  width: 47px;
  height: 38px;}

.c-100 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3083px;
  left: 386px;
  background-position: -386px -3083px;
  width: 42px;
  height: 36px;}

.c-101 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 3179px;
  left: 390px;
  background-position: -390px -3179px;
  width: 36px;
  height: 37px;}

.c-102 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2991px;
  left: 1298px;
  background-position: -1298px -2991px;
  width: 25px;
  height: 22px;}

.c-103 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2989px;
  left: 1342px;
  background-position: -1342px -2989px;
  width: 24px;
  height: 28px;}

.c-104 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2988px;
  left: 1380px;
  background-position: -1380px -2988px;
  width: 26px;
  height: 26px;}

.c-105 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2986px;
  left: 1016px;
  background-position: -1016px -2986px;
  width: 32px;
  height: 34px;}

.c-106 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2992px;
  left: 1051px;
  background-position: -1051px -2992px;
  width: 22px;
  height: 21px;}

.c-107 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1649px;
  left: 1245px;
  background-position: -1245px -1649px;
  width: 34px;
  height: 29px;}

.c-108 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1546px;
  left: 1028px;
  background-position: -1028px -1546px;
  width: 33px;
  height: 39px;}

.c-109 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1650px;
  left: 1290px;
  background-position: -1290px -1650px;
  width: 32px;
  height: 24px;}

.c-110 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1649px;
  left: 1336px;
  background-position: -1336px -1649px;
  width: 26px;
  height: 26px;}

.c-111 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1648px;
  left: 1378px;
  background-position: -1378px -1648px;
  width: 19px;
  height: 25px;}

.c-112 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1362px;
  left: 1743px;
  background-position: -1743px -1362px;
  width: 40px;
  height: 29px;}

.c-113 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1435px;
  left: 1742px;
  background-position: -1742px -1435px;
  width: 40px;
  height: 30px;}

.c-114 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1526px;
  left: 1748px;
  background-position: -1748px -1526px;
  width: 26px;
  height: 23px;}

.c-115 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1595px;
  left: 1748px;
  background-position: -1748px -1595px;
  width: 29px;
  height: 25px;}

.c-116 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1703px;
  left: 1739px;
  background-position: -1739px -1703px;
  width: 47px;
  height: 31px;}

.c-117 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1705px;
  left: 1840px;
  background-position: -1840px -1705px;
  width: 41px;
  height: 28px;}

.c-118 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1704px;
  left: 1938px;
  background-position: -1938px -1704px;
  width: 38px;
  height: 30px;}

.c-119 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1704px;
  left: 2037px;
  background-position: -2037px -1704px;
  width: 38px;
  height: 29px;}

.c-120 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1797px;
  left: 1741px;
  background-position: -1741px -1797px;
  width: 46px;
  height: 31px;}

.c-121 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1912px;
  left: 1740px;
  background-position: -1740px -1912px;
  width: 42px;
  height: 28px;}

.c-122 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1909px;
  left: 1840px;
  background-position: -1840px -1909px;
  width: 36px;
  height: 36px;}

.c-123 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1906px;
  left: 1947px;
  background-position: -1947px -1906px;
  width: 24px;
  height: 41px;}

.c-124 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1919px;
  left: 2031px;
  background-position: -2031px -1919px;
  width: 50px;
  height: 17px;}

.c-125 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2010px;
  left: 1738px;
  background-position: -1738px -2010px;
  width: 42px;
  height: 39px;}

.c-126 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2007px;
  left: 1931px;
  background-position: -1931px -2007px;
  width: 45px;
  height: 41px;}

.c-127 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2122px;
  left: 1744px;
  background-position: -1744px -2122px;
  width: 29px;
  height: 29px;}

.c-128 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2195px;
  left: 1739px;
  background-position: -1739px -2195px;
  width: 37px;
  height: 30px;}

.c-129 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2299px;
  left: 1740px;
  background-position: -1740px -2299px;
  width: 33px;
  height: 36px;}

.c-130 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2299px;
  left: 1930px;
  background-position: -1930px -2299px;
  width: 33px;
  height: 36px;}

.c-131 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1293px;
  left: 1707px;
  background-position: -1707px -1293px;
  width: 398px;
  height: 40px;}

.c-132 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1307px;
  left: 2077px;
  background-position: -2077px -1307px;
  width: 20px;
  height: 19px;}

.c-133 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1332px;
  left: 1707px;
  background-position: -1707px -1332px;
  width: 398px;
  height: 81px;}

.c-134 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1413px;
  left: 1707px;
  background-position: -1707px -1413px;
  width: 398px;
  height: 81px;}

.c-135 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1493px;
  left: 1707px;
  background-position: -1707px -1493px;
  width: 398px;
  height: 80px;}

.c-136 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1573px;
  left: 1707px;
  background-position: -1707px -1573px;
  width: 398px;
  height: 70px;}

.c-137 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1644px;
  left: 1707px;
  background-position: -1707px -1644px;
  width: 398px;
  height: 26px;}

.c-138 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1669px;
  left: 1707px;
  background-position: -1707px -1669px;
  width: 100px;
  height: 101px;}

.c-139 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1669px;
  left: 1805px;
  background-position: -1805px -1669px;
  width: 102px;
  height: 101px;}

.c-140 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1669px;
  left: 1907px;
  background-position: -1907px -1669px;
  width: 99px;
  height: 102px;}

.c-141 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1669px;
  left: 2006px;
  background-position: -2006px -1669px;
  width: 99px;
  height: 101px;}

.c-142 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1770px;
  left: 1707px;
  background-position: -1707px -1770px;
  width: 398px;
  height: 81px;}

.c-143 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1849px;
  left: 1707px;
  background-position: -1707px -1849px;
  width: 398px;
  height: 25px;}

.c-144 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1875px;
  left: 2005px;
  background-position: -2005px -1875px;
  width: 100px;
  height: 102px;}

.c-145 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1875px;
  left: 1906px;
  background-position: -1906px -1875px;
  width: 100px;
  height: 102px;}

.c-146 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1875px;
  left: 1805px;
  background-position: -1805px -1875px;
  width: 102px;
  height: 100px;}

.c-147 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1875px;
  left: 1707px;
  background-position: -1707px -1875px;
  width: 99px;
  height: 102px;}

.c-148 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1976px;
  left: 1707px;
  background-position: -1707px -1976px;
  width: 200px;
  height: 100px;}

.c-149 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 1976px;
  left: 1906px;
  background-position: -1906px -1976px;
  width: 199px;
  height: 100px;}

.c-150 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2075px;
  left: 1707px;
  background-position: -1707px -2075px;
  width: 398px;
  height: 26px;}

.c-151 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2101px;
  left: 1707px;
  background-position: -1707px -2101px;
  width: 398px;
  height: 75px;}

.c-152 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2176px;
  left: 1707px;
  background-position: -1707px -2176px;
  width: 398px;
  height: 70px;}

.c-153 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2245px;
  left: 1707px;
  background-position: -1707px -2245px;
  width: 398px;
  height: 26px;}

.c-154 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2271px;
  left: 1707px;
  background-position: -1707px -2271px;
  width: 200px;
  height: 84px;}

.c-155 {display: inline-block;
  background-image: url("./Załącznik-1-3.png");
  top: 2271px;
  left: 1904px;
  background-position: -1904px -2271px;
  width: 201px;
  height: 84px;}
